body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    overflow-x: hidden;
    position: relative;
}

html {
    overflow-x: hidden;
}

h1 {
    font-weight: 100;
    text-align: center;
    color: #ff8e4d
}