img {
    max-width: 100%;
}

h4,
h5 {
    color: #ff8e4d;
    font-weight: 100;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.summaryTable {
    margin-bottom: 0px;
}

.gradientLine {
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #f96816, transparent);
    border: none;
}