.image {
    width: 100vw;
    height: 100vh;
    background: url('../utils/imagesTest/cropped_Default_close_up_boulder_on_a_opened_landscape_with_small_clim_0_061fadc6-6f6e-4184-ae77-3420fac628ff_1 (1).jpg');
    background-size: cover;
    background-position: left 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
    .image {
        background-position: 30% 0%
    }
}


.landPageBtn {
    display: inline-block;
    background: transparent;
    border: 0.5px solid #ff8e4d;
    color: rgb(119, 119, 119);
    font-size: 16px;
    padding: 5px 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 100;
    margin-top: 53vh;
    margin-left: 10vw;
    font-size: larger;
}

.landPageBtn:hover {
    background-color: rgba(255, 142, 77, 0.897);
    border-color: rgba(255, 142, 77, 0.897);
    color: white;
}

h1 {
    margin-bottom: 10px;
    margin-top: 80px;
}

h4,
h5 {
    color: #ff8e4d;
    font-weight: 100;
}

h4 {
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 1.75rem;
}

h5 {
    margin-bottom: 35px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.summaryTable {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .secondTable {
        margin-top: 35px;
    }
}




/* .gradientLine {
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #f96816, transparent);
    border: none;
} */