/* Styling for the boulder banner */
.boulderBanner {
    width: 100vw;
    height: 40vh;
    background: url('../utils/assets/boulderImage.jpg');
    background-size: cover;
    background-position: left calc(100% + 150px);
    background-repeat: no-repeat;
}

/* Adjusts banner positioning for smaller screens */
@media screen and (max-width: 1300px) {
    .boulderBanner {
        background-position: 60% 0%;
    }
}

/* Styling for the sport climbing banner */
.sportBanner {
    width: 100vw;
    height: 40vh;
    background: url('../utils/assets/sportclimbImage.jpg');
    background-size: cover;
    background-position: left calc(100% + 450px);
    background-repeat: no-repeat;
}

/* Adjusts banner positioning for smaller screens */
@media screen and (max-width: 1300px) {
    .sportBanner {
        background-position: 0% 0%;
    }
}