.instrPopup {
    left: 0 !important;
    margin-top: 20px !important;
}

.gradeNotePopup {
    position: absolute;
    display: none;
    background-Color: #ffb78d;
    color: white;
    padding: 20px;
    border-Radius: 5px;
    font-Size: 12px;
    left: 100%;
    top: 100%;
    margin-Top: 10px;
    margin-Left: 5px;
    white-Space: normal;
    width: 200px;
    text-align: left;
    z-index: 1000;
}


.grade {
    position: relative
}

.underlineForPopup {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
    text-decoration-color: #ff8e4d;
}



.rankClimber {
    text-align: left;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 3px;
    color: #ff8e4d;
}

.rankSend {
    text-align: left;
    margin-left: 27%;
    margin-right: 20%;
}

.chronoDate {
    color: #ff8e4d;
}

.highestGrade {
    color: #fd5d00;
}