.mainButton {
    display: inline-block;
    background: transparent;
    border: 0.5px solid #ff8e4d;
    color: #ff8e4d;
    font-size: 16px;
    padding: 3px 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 100;
    font-size: smaller;
}

.mainButton:hover {
    background-color: rgba(255, 142, 77, 0.897);
    border-color: rgba(255, 142, 77, 0.897);
    color: white;
}